.main-form
  width 800px
  margin 30px auto
  padding 20px 40px
  border 1px solid #eee
  >>> .user-name
    margin-bottom 0
  >>> .user-name.uform-item--error
    margin-bottom 24px
.main-form__title
  padding 10px 0
  margin-bottom 20px
  border-bottom 1px solid #ccc